{{!-- burger pic here --}}
<h3>Eat-Da-Burger!</h3>
<form class="form">
    <div class="form-group">
        <form class="burger-form>">
            <input type="text" id="newburger" name="burger">
            <button type="submit" class="submitbutton" id="addburger"></button>
        </form>
    </div>
</form>

<div class="row">
    <div class="col-sm-6">
       <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                    <button type="button" class="eatburger" id="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"></button>
                    <hr>
                {{/unless}}
            {{/each}}
        </ul> 
    </div>


    <div class="col-sm-6">
       <ul>
            {{#each burgers}}
                {{#if devoured}}
                    <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                    <button type="button" class="ateburger" id="devouredbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"></button>
                    <hr>
                {{/if}}
            {{/each}}
        </ul> 
    </div>
</div>



